target/

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

script/FlexDBLink
script/oradata/*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.ansible/
.settings/
.claude/*